/* Height Fill Amount */
  body, html {
    height: 100%;
  }

/* Central Box Style for Admin Pages */
  .centering-input{
    max-height: 100%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #9E9E9E;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    border: 4px solid;
    border-radius: 8px;
    border-color: #636363;
  }

  /* Background Image for Admin*/
  .bgFull {
    background-image: url("../images/AdminPagesBackground.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#101010;
    background-attachment: fixed;

  }